.topMenu h3{
    line-height: 40px;
    margin-left: 20px;
    color: #333333;
    font-size: 18px;
    float: left;
}

.editPass{
    width: 400px;
    margin: 40px auto;
}
.editPass ul li{
     clear: both;
    height: 70px;
    overflow: hidden;
}
.editPass ul li i{
    display: block;
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.editPass ul li .conInput{
    display: block;
    float: left;
    width: 220px;
    height: 40px;
    padding-left: 10px;
    border:solid 1px #E1E1E1;
}
.bgTranBlue{
    width: 303px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.editPass ul li p.errorP {
    color: #ff8574;
    margin-top: 4px;
    margin-left: 80px;
}
.editBox{
    width: 400px;
    margin: 130px auto 0px;
}
.editBox h4 {
    color: #333333;
    font-size: 24px;
    line-height: 50px;
    margin-top: 30px;
    text-align: center;
}
.errorFrom{
	text-align: center;
    width: 303px;
	color: #ff8574;
	font-size: 14px;
}