.kaitong{
     background: rgba(0, 0, 0, 0) url("../public/commonImg/bottom.png") repeat-x scroll center bottom;
    margin: 50px auto 0;
    min-height: 790px;
    min-width: 1010px;
    overflow: hidden;
    width: 100%;
}
.kaitongCon {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    margin: 0 auto;
    overflow: hidden;
    padding: 27px 0 10px;
    width: 500px;
}
.kaitongCon .ld{
    display: block;
    margin: 10px auto 35px;
}
.kaitongCon ul{
    width: 420px;
    margin: 0px auto;
    border-top: 1px dashed #e1e1e1;
    padding-top: 27px;
}
.kaitongCon ul li {
    clear: both;
    height: 85px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.kaitongCon ul li.errorForm{
	height: 20px;
	text-align: center;
	color: #ff8574;
	margin-bottom: 5px;
	font-size: 16px;
}
.kaitongCon ul li input.realyName,.kaitongCon ul li input.idNumber,.kaitongCon ul li input.phoneNumber{
    display: block;
    width: 420px;
    height: 50px;
    border:solid #E1E1E1 1px;
    padding-left: 10px;
    font-size: 14px;
}

.kaitongCon ul li .subKaitong{
    display: block;
     width: 420px;
    height: 50px;
    border-radius: 4px;
    border:none;
    font-size: 18px;
    color: #fff;
}
.kaitongCon ul li p.errorP{
    color: #ff8574;
    margin-top: 8px;
}
.kaitongCon ul li.xieyi a{
    font-size: 14px;
    color: #02adea;
}
.InputDiv{
    overflow: hidden;
    clear: both;   
}
.kaitongSuc{
    background: url(../images/ktSuc.png) no-repeat center top;
    width: 440px;
    height: 440px;
    margin: 40px auto 0px;
    overflow: hidden;
}
.sucCon{
    width: 440px;
    margin: 40px auto 0px;
    overflow: hidden;
}
.sucCon img{
	display: block;
	margin: 50px auto 0px;
	width: 60px;
	height: 60px;
}
.sucCon h3{
	text-align: center;
	font-size: 24px;
	color: #333;
	margin-top: 30px;
}
.sucCon a{
    display: block;
    margin: 30px auto 0px;
    text-align: center;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
}
.sucCon p{
	text-align: center;
	font-size: 14px;
	color: #333;
	margin-top:80px;
}

.regSuc{
    width: 452px;
    margin: 150px auto 0px;
    overflow: hidden;
    height: 600px;
    text-align: center;
}
.regSuc h3{
    color: #333333;
    font-size: 24px;
    margin-top: 20px;
}
.regSuc .in{
    margin-top: 70px;
    font-size: 14px;
    color: #333333;
}
.hrefBt{
    
    color: #fff;
    display: block;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin: 30px auto 0;
    text-align: center;
    width: 250px;
}
.noHrefBt{
    display: block;
    font-size: 18px;
    color: #999999;
    margin-top: 10px;
}
.checkSel {
    background: url("../images/sel.png") no-repeat;
    cursor: pointer;
    float: left;
    height: 15px;
    width: 15px;
}
.fanhui{
	width: 110px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #444;
	background: #ccc;
	display: block;
	float: left;
}
.kaitongBt{
	width: 110px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #fff;
	background: #02ADEA;
	display: block;
	float: right;
}

.czBox{
	width: 260px;
	margin: 40px auto;
}